body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.header {
  width: 100vw;
  padding: 40px;
  background-image: url("../image/photo32.jpg");
  background-position: center;
  background-size: cover;
  position: fixed -20px;
  z-index: 9999;
}

.header__container {
  width: 100vw;
  height: 10vw;
  background: transparent;
}


.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sedgwick Ave Display', cursive;
  color: cornflowerblue;
  font-size: 140px;
  text-shadow: black 0.1em 0.1em 0.2em;

}
